
importFrom( utils, limitedLabels )

export( getBrowseFrom )
export( setBrowseFrom )
export( cacheBrowseContext )
export( getBrowseContext )
export( getBrowseContextSize )
export( flushBrowseContext )
